header {
    background-color: white;
        #container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: auto;
                #menu {
                    li {
                    display: inline;
                    padding: 10px;
                        a {
                            color: black;
                            text-decoration: none;
                            padding: 40px 0;
                        }
                    }
                }
        }
}

#menu a:hover {
    color: blue;
    border-bottom: solid blue 5px;
}